<p>&copy; 2005-<%= Time.now.strftime('%Y') %>, RubyURL.</p> 
<p>A micro project from the <a href="http://www.planetargon.com/" title="Design, Development, and Hosting with Ruby on Rails">Planet Argon</a> team. Hosted on <a href="http://railsboxcar.com/" title="Rails hosting">Boxcar</a>.</p>
<p><span><%= @cached_data[:link_count] -%></span> happy rubyURLs and counting. <a href="http://github.com/robbyrussell/rubyurl/issues">Feature Requests / Issues?</a></p>