<p>&copy; 2005-<%= Time.now.strftime('%Y') %>, RubyURL.</p> 
<p>Designed, Developed, and Hosted by <a href="http://www.planetargon.com/">PLANET ARGON</a>.</p>
<p><span><%= @cached_data[:link_count] -%></span> happy rubyURLs and counting.</p>