<div id="header">
<a id="logo" href="/">RubyURL</a>
<ul id="main_nav">
	<li><%= link_to 'What is rubyURL?', '/about' -%></li>
	<li><%= link_to 'API Documentation', '/api' -%></li>
	<li><%= link_to 'Report Abuse!', '/report-abuse', :id => 'abuse' -%></li>
</ul>
</div>
