<h1><a href="/">RubyURL</a></h1> <!--heading tag temporary until design is implemented -->

<li><%= link_to 'What is rubyURL?', '/about' -%></li>
<li><%= link_to 'API Documentation', '/api' -%></li>
<li><%= link_to 'Report Abuse!', '/report-abuse' -%></li>

