<% form_for :link, @link, :url => {:controller => :links ,:action => 'create'}  do |f| %>
  <label for="link_website_url">Website URL</label>
  <%= f.text_field :website_url %>
  
  <%= submit_tag 'Go!' -%>
<% end %>
<br />
<label>
  <%= check_box_tag :auto_copy, 1, cookies[:auto_copy] == '1' %> Automatically copy new RubyURL
</label>
