<div id="info_content">
  <h1>What is RubyURL?</h1>

  <p>In a nutshell, RubyURL is an online tool for converting really long website addresses into short ones so that you can share them with your friends via Twitter, IRC, Email, Campfire, etc. We've also provided a public API so that you can generate RubyURLs in your web applications.</p>

  <p>Beyond that, RubyURL was the first project that <a href="http://planetargon.com/who-we-are/robby-russell">Robby Russell</a>, founder of <a href="http://planetargon.com/">Planet Argon</a> built and deployed with the <a href="http://rubyonrails.org/">Ruby on Rails</a> framework in early 2005. The code behind it has been open sourced and is <a href="http://github.com/robbyrussell/rubyurl/tree/master">available on Github</a>.</p>

  <p>Special thanks to <a href="http://chrisgriffin.org">Chris Griffin</a> for providing the current design of RubyURL.</p>
</div> <!-- end info_content -->

