<div id="info_content">
<h1>API Documentation</h1>

<h2>Creating a new RubyURL</h2>

<p>If you'd like to generate a RubyURL through the REST API, you'll just need to POST an XML request to <strong>http://rubyurl.com/api/link</strong>.</p>

<p>To view the example XML requests and responses, <a href="http://gist.github.com/8197">view these examples</a>.</p>

</div> <!-- end info_content -->
