<div id="app_content">
<h1>OH NOEZ! UR LYNKZ IZ BROKEN</h1>

<p>If you have a moment, you might <a href="http://planetargon.lighthouseapp.com/projects/4059-rubyurl/">submit a bug report</a> to explain what happened so that we can try to fix it for you. :-)</p>

<div id="action">
	<%= link_to 'Go Back', '/' -%>
</div>
</div><!-- end app_content -->