<div id="info_content">
<h1>Report Abuse</h1>

<p>The team behind RubyURL hates spam just as much as you do. </p>
  
<p>Unfortunately, we cannot prevent people from using the RubyURL service and pasting links into spam emails, wiki pages, and blog comments. If you found your way to RubyURL due to spamming, please <%= mail_to 'abuse@rubyurl.com', "send us an email", :encode => "javascript" -%> to report the offending RubyURL and we'll flag it for review.</p>

<p>Thanks!<br />-The RubyURL team</p>
</div>