<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>RubyURL &raquo; <%= (title = yield :title) ? title : 'Happy URLS for Happy Developers' %></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="description" content="description goes here" />
	<meta name="keywords" content="keywords go here" />
	<meta http-equiv="Content-Language" content="en-us" />
	<meta name="ROBOTS" content="ALL" />
	<meta http-equiv="imagetoolbar" content="false" />
	<meta name="MSSmartTagsPreventParsing" content="true" />

	<%= stylesheet_link_tag "reset" %>
	<%= stylesheet_link_tag "master" %>
	<!--[if lt IE 7]><%= stylesheet_link_tag "ie" %><![endif]-->
</head>

<body>
	<% if flash[:notice] %>
	<div id="flash_notice" class="flash">
		<p><%= flash[:notice] %></p>
	</div>
	<% end %>

	<% if flash[:message] %>
	<div id="flash_message" class="flash">
		<p><%= flash[:message] %></p>
	</div>
	<% end %>

	<% if flash[:warning] %>
	<div id="flash_warning" class="flash">
		<p><%= flash[:warning] %></p>
	</div>
	<% end %>
	<!-- end flash -->
	<div id="wrapper">
		<div id="header">
			<%= render :partial => 'shared/header' %>
		</div> <!-- end header -->
			<%= yield %>
		<dl id="tos">
			<dt>Terms of Use:</dt> 
			<dd>RubyURL was created as a free service to make posting long URLs easier. If you use it for spamming or illegal purposes, your RubyURL will be disabled. This service is provided without warranty of any kind.</dd>
		</dl> <!-- end Terms of Service -->
		<div id="footer">
			<%= render :partial => 'shared/footer' %>
		</div> <!-- end footer -->
	</div><!-- end wrapper -->

</body>
</html>