<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="description" content="description goes here" />
    <meta name="keywords" content="keywords go here" />
    <meta http-equiv="Content-Language" content="en-us" />
    <meta name="ROBOTS" content="ALL" />
    <meta http-equiv="imagetoolbar" content="false" />
    <meta name="MSSmartTagsPreventParsing" content="true" />

	<title>RubyURL &raquo; <%= (title = yield :title) ? title : 'Happy URLS for Happy Developers' %></title>
	
	<%= javascript_include_tag :defaults %>	
</head>
<frameset rows="*,30", rows="10" border="1">
  <frame src="<%= (website_url = yield :website_url) ? website_url : '/redirect/flagged' %>" name="main">
  <frame src="/redirect/top" name="bottom">
</frameset>

</html>